
.login-form .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent;

}

.login-form .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px; /* Đặt kích thước chiều rộng cho khung tròn */
    height: 130px; /* Đặt kích thước chiều cao cho khung tròn */
    background-color: #cff8ca9c; /* Màu nền trắng */
    border: 2px solid #000; /* Viền đen */
    border-radius: 50%; /* Tạo khung tròn */
    padding: 10px; /* Khoảng cách giữa ảnh và viền */
}

.login-form .logo {
    max-width: 100%; /* Đảm bảo logo không vượt quá khung */
    max-height: 100%; /* Đảm bảo logo không vượt quá khung */
    border-radius: 50%; /* Đảm bảo logo có góc bo tròn nếu cần */
}


.wrapper {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: left;
    margin: 30px 0;
    font-family: fontAwesome;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box input:focus {
    border-color: rgb(209, 209, 209);
    text-indent: 5px;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;

}

.input-box i {
    position: absolute;
    top: 18px;
    right: 21px;

}
/* .input-box #toggle {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    color: #fdfdfd;
    margin-right: 10px ;
}

.input-box #toggle::before {
    content: '\f06e';
    
}
.input-box #toggle.hide::before {
    content: '\f070';
} */

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot label input:hover {
    accent-color: #5f73e7;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p:hover {
    text-decoration: underline;
}

.button-login:hover {
    width: 100%;
    height: 45px;
    background: #dbdbdb;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
