
  /* BookingPage.scss */
.booking-page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: url("../../Assets/hand-painted-watercolor-pastel-sky-background_23-2148902771.avif")no-repeat;
  background-size: cover;

}

.booking-page-content {
  display: flex;
  flex-direction: row; /* Hiển thị các thành phần theo hàng ngang */
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.booking-form-container, .booking-detail-container {
  flex: 1;
  padding-right: 10px;
}

.booking-form-container {
  border-right: 1px solid #ddd;
}

.booking-detail-container {
  padding-left: 20px;
  h2{
    text-align: center;
  }
  #paymentbutton{
    color: #ffffff;
    background-color: #28a745;
  }
}
