// BookingDetail.scss

$primary-color: #4CAF50;
$secondary-color: #ffffff;
$font-family: 'Arial, sans-serif';
$border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$detail-background: #ffffff;
$divider-color: #dddddd;

.booking-detail-container {
    max-width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
        
    background-color: $secondary-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    font-family: $font-family;

    h2 {
        text-align: center;
        color: $primary-color;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .booking-detail-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    
    .booking-detail-card p {
        margin: 0;
        flex-grow: 1;
        font-size: 20px;
     
    }
    
    .booking-detail-card .delete-button {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 15%;
    }
    
    .booking-detail-card .delete-button:hover {
        background-color: #ff1a1a;
    }
    
}
