/* BookingPage.scss */
.booking-page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.booking-page-content {
  display: flex;
  flex-direction: row; /* Hiển thị các thành phần theo hàng ngang */
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.booking-form-container, .booking-detail-container {
  flex: 1;
  padding: 20px;
}

.booking-form-container {
  border-right: 1px solid #ddd;
}

.booking-detail-container {
  padding-left: 20px;
}

/* BookingDetail.scss */
.booking-detail-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.booking-detail-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
}

.booking-detail-card p {
  margin: 5px 0;
}

.booking-detail-card hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 10px 0;
}

.booking-total-cost {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  text-align: right;
}

#paymentbutton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#paymentbutton:hover {
  background-color: #0056b3;
}
