.welcome-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */         /* Full viewport height to center vertically */
    text-align: center;      /* Center text inside the span */
}

.brand-name {
    font-size: 1.5rem;
    color: #00a558;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}


.sidebar {
    width: 250px;
    height: 100vh;
    background: white;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}

.sidebar .m-2 {
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
}

.sidebar hr {
    border-color: rgba(255, 255, 255, 0.3);
}

.sidebar .list-group-item {
    background: transparent;
    color: #331717;
    border: none;
    padding: 15px 20px;
    font-size: 1.1rem;
    transition: background 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
}

.sidebar .list-group-item:hover {
    background: linear-gradient(45deg, #62e47e41, #60a5ee63, #e07dca57);
    transform: translateX(5px);
    
}

.sidebar .list-group-item.active {
    background: rgba(255, 255, 255, 0.2);
    border-left: 5px solid black;
}

.sidebar .list-group-item i {
    margin-right: 10px;
}

.sidebar .list-group-item span {
    flex-grow: 1;
}

.sidebar .list-group-item button {
    background: none;
    border: none;
    color: inherit;
    width: 100%;
    text-align: left;
    padding: 0;
}

.sidebar .list-group-item button:hover {
    cursor: pointer;
}

.sidebar .list-group-item button:focus {
    outline: none;
}