/* VetExaminationForm.scss */

.vet-exam-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vet-exam-header {
  text-align: center;
  font-size: 2.5em;
  color: #34495e;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.vet-exam-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.vet-exam-form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.vet-exam-label {
  font-size: 1.1em;
  color: #7f8c8d;
  margin-bottom: 10px;
  font-weight: 600;
}

.vet-exam-input,
.vet-exam-datepicker {
  padding: 12px;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1em;
  color: #2c3e50;
  transition: border-color 0.3s ease-in-out;
}

.vet-exam-input::placeholder {
  color: #bdc3c7;
}

.vet-exam-datepicker {
  cursor: not-allowed;
  background-color: #ecf0f1;
}

.vet-exam-input:focus,
.vet-exam-datepicker:focus {
  border-color: #2980b9;
  outline: none;
}

.vet-exam-form-check {
  display: flex;
  align-items: center;
  gap: 10px; // Add space between the checkbox and label
  margin-top: 10px;
}

.vet-exam-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #7f8c8d;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  flex-shrink: 0; // Ensure the checkbox doesn't shrink
}

.vet-exam-checkbox-label {
  font-size: 1em;
  color: #34495e;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}

.vet-exam-button {
  padding: 15px 25px;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  margin-top: 20px;
}

.vet-exam-button:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 600px) {
  .vet-exam-container {
      padding: 15px;
  }

  .vet-exam-header {
      font-size: 2em;
  }

  .vet-exam-form {
      gap: 15px;
  }

  .vet-exam-button {
      padding: 10px 15px;
      font-size: 1.1em;
  }
}
