.wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: linear-gradient(45deg, #8cffa5, #81beff, #ff99e9);

    .wallet-card {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 40%;

        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        .wallet-info {
            margin-bottom: 20px;

            p {
                margin: 10px 0;
            }
        }

        .wallet-balance {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            margin-bottom: 30px;
            font-family: Arial;
            font-style: italic;
            
            div {
                margin-right: 5px;
                
                &:last-child {
                    font-weight: bold;
                }
            }
        }

        .wallet-actions {
            .action-group {
                display: flex;
                margin-bottom: 10px;

                input {
                    flex-grow: 0;
                    margin-right: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }

                button {
                    margin-bottom: 20px;
                    background-color: #4CAF50;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #45a049;
                    }
                }
            }

            button {
                width: 100%;
                padding: 10px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #0069d9;
                }
            }
        }
    }
}

/* Styles for the modal */
.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    max-height: 80vh; /* Adjust this value as needed */
    overflow-y: auto; /* Enable vertical scrolling if needed */

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            background: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;

            .date-time {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .date,
                .time {
                    flex: 1;
                    margin-right: 10px;
                }
            }
        }
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }
}
