.edit-user-form {
    .password-container {
        position: relative;
        display: flex;
        align-items: center;

        input {
            flex: 1;
            padding: 8px;
            margin-right: 40px; // Adjust this value to provide space for the icon
        }

        i {
            position: absolute;
            right: 10px; // Adjust this value as needed
            cursor: pointer;
            color: #888; // Icon color
            transition: color 0.3s;
        }

        i:hover {
            color: #000; // Icon color on hover
        }
    }

    .error-message {
        color: red;
        font-size: 0.875rem;
    }

    .valid {
        border: 1px solid #ced4da;
    }

    .invalid {
        border: 1px solid red;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}
