.schedule-container {
    padding: 20px;
    background: linear-gradient(45deg, #62e47e, #60a5ee, #e07dcb);
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.appointment {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.appointment-details p {
    margin: 5px 0;
}
