.phs-table-container {
    padding-bottom: 20px;
    padding: 50px;
    background: linear-gradient(45deg, #62e47e, #60a5ee, #e07dcb);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    &:hover {
        background: linear-gradient(45deg, #4ed665, #3d93f0, #f37acf);
    }
}

.phs-header {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    font-family: 'Arial, sans-serif';
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.phs-styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #000000;
    background-color: #fff; /* Màu nền cho toàn bộ bảng */
    border-radius: 10px;
    overflow: hidden;

    th, td {
        padding: 15px;
        border: 1px solid #363636; /* Đổi màu viền cho các ô */
    }

    thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        border: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9; /* Màu nền cho các hàng lẻ */
    }

    tbody tr:nth-of-type(even) {
        background-color: #ffffff; /* Màu nền cho các hàng chẵn */
    }

    tbody tr:hover {
        background-color: #e1e1e1; /* Màu nền khi hover */
    }
}


.phs-bbtn {

    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 22%;

    &:hover {
        transform: scale(1.05);
    }

    &.phs-bbtn-success {
        background-color: #28a745;

        &:hover {
            background-color: #218838;
        }
    }

    &.phs-bbtn-warning {
        background-color: #ffc107;

        &:hover {
            background-color: #e0a800;
        }
    }

    &.phs-bbtn-danger {
        background-color: #dc3545;

        &:hover {
            background-color: #c82333;
            color: #fff;
        }
    }

    &.phs-bbtn-view {
        background-color: #17a2b8;

        &:hover {
            background-color: #138496;
        }
    }

    &.phs-bbtn-med {
        background-color: #0da752;

        &:hover {
            background-color: #0d8844;
        }
    }

    &.phs-bbtn-add {
        background-color: #28a745;
        width: 20%;
        margin-left: 65%;

        &:hover {
            background-color: #218838;
        }
    }
}

.phs-form-container {
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 50%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }

    h3 {
        margin-bottom: 20px;
        color: #333;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        background: linear-gradient(to right, #4facfe, #00f2fe);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    input[type="text"],
    select {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            border-color: #4facfe;
            box-shadow: 0 0 8px rgba(79, 172, 254, 0.5);
            outline: none;
            text-indent: 5px;
        }

        &::placeholder {
            color: #777;
            font-weight: 400;
        }

        &.valid {
            border-color: #28a745;
            box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
        }

        &.invalid {
            border-color: #dc3545;
            box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
        }
    }

    select {
        background-color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='black' stroke-width='2' d='M2 4l6 6 6-6'/></svg>");
        background-repeat: no-repeat;
        background-position: right 10px center;
        padding-right: 30px;
    }

    .phs-errorss-messages {
        color: #dc3545;
        font-size: 0.875rem;
        margin-top: 1px !important;
        text-align: left !important;
    }

    .phs-btn {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .phs-bbtn {
        display: inline-block;
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        width: 48%;

        &:hover {
            transform: translateY(-3px);
        }

        &.phs-bbtn-save {
            background: linear-gradient(45deg, #4caf50, #81c784);

            &:hover {
                background: linear-gradient(45deg, #388e3c, #66bb6a);
            }
        }

        &.phs-bbtn-cancel {
            background: linear-gradient(45deg, #e57373, #ef5350);

            &:hover {
                background: linear-gradient(45deg, #d32f2f, #e53935);
            }
        }
    }
}
