.sort-header{
    display: flex;
    justify-content: space-between;
    i{
        cursor: pointer;
        padding: 0 2px;
        
    }
}
.add-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .group-btns{
        display: flex;
        gap:10px;
        i{
            padding: 0 2px;
        }

    }
  }
  .btn {
  .btn-primary {
    margin-left: 5px;
  }

  }
  .table-container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 5%;
    padding-bottom: 15%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.form-container {
    margin-top: 20px;
}

.form-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #009879;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #007f6d;
}

  