.sort-header{
    display: flex;
    justify-content: space-between;
    i{
        cursor: pointer;
        padding: 0 2px;
        
    }
}
.add-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .group-btns{
        display: flex;
        gap:10px;
        i{
            padding: 0 2px;
        }

    }
  }
  .btn {
  .btn-primary {
    margin-left: 5px;
  }



  }
  .table-container {
    max-width: 80%;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 1%;
    padding-bottom: 10%;
    

}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    text-align: left;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    .btn-view {
        background-color: #3da741;
        color: white;
    }
    .btn-warning {
        color: white;
    }
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.form-container {
    width: 80% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
}

.form-container h3 {
    margin-bottom: 20px;
}

.form-container input {
    width: 100% !important; /* hoặc bạn có thể điều chỉnh kích thước theo ý muốn */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%; /* hoặc bạn có thể điều chỉnh kích thước theo ý muốn */
    padding: 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container .btn-success {
    background-color: #3da741;
    color: white;
}

.form-container .btn-danger {
    background-color: #f44336;
    color: white;
}

  