.booking-history-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #8cffa5, #81beff, #ff99e9);
    padding-bottom: 10%;
    .header-text {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        text-transform: uppercase;
        font-family: 'Arial, sans-serif';
        font-weight: bolder;
        font-size: 24px;
    }

    .filtersdate {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        input {
            width: 100%;
            padding: 10px;
            padding-right: 230px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            width: 20%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #1bc2bf;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
    .search-sort-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        input {
            width: 33%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            width: 20%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #1bc2bf;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    .booking-list {
        margin-top: 20px;

        .booking-table {
            width: 95%;
            margin-left: 2.5%;
            border-collapse: collapse;
            margin-bottom: 20px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            th, td {
                padding: 10px;
                text-align: center;
                border-bottom: 1px solid #2a8160;
                vertical-align: middle;
                color: #333;
            }

            th {
                background-color: #2f997f;
                color: white;
                font-weight: bold;
            }

            tr:nth-child(even) {
                background-color: #e9f7f3;
            }

            button {
                padding: 6px 12px;
                border: none;
                border-radius: 4px;
                background-color: #ebd80c;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #5cc515;
                }
            }
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #a8a8a8;
            width: 80%;
            max-width: 1000px;
            border-radius: 10px;
            position: relative;

            .close {
                color: #aaa;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;

                &:hover,
                &:focus {
                    color: black;
                    text-decoration: none;
                }
            }

            .booking-details-table {
                width: 100%;
                border-collapse: collapse;

                th, td {
                    padding: 10px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                    color: #333;
                    border: 1px solid rgb(161, 161, 161);
                }

                th {
                    background-color: #1bcae9;
                    color: white;
                    font-weight: bold;
                }

                tr:nth-child(even) {
                    background-color: #f1f1f1;
                }
            }
        }
    }

    .modal.show {
        display: block;
    }
}