.booking-history-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-family: 'Arial, sans-serif';
}

.header-text h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid #007bff;
    display: inline-block;
}

.search-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .SortbyDate {
        width: 40%;
        max-width: 40%;
    }
}

.search-sort-container input[type="text"] {
    margin-top: 13px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    max-width: 55%;
}


.filtersdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .FilterbyDateRange {
        width: 40%;
        max-width: 40%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

.filtersdate select, .filtersdate input[type="date"] {
    margin-right: 2px;
}

.filtersdate input[type="date"] {
    width: calc(70%);
}

.timetable {
    margin-top: 20px;
}

.timetable-header, .timetable-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.timetable-header {
    background-color: #e9e9e9;
    font-weight: bold;
    padding-left: 6% !important;
    text-transform: uppercase;
}

.timetable-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.timetable-item.status.confirmed {
    color: green;
}

.timetable-item.status.paid {
    color: red;
}

.timetable-row {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.timetable-row:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.custom-modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

.custom-close-button {
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.table-section {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-section th,
.table-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-section th {
    background-color: #f2f2f2;
}

.table-field-name {
    width: 150px; /* Adjust this value as needed */
    font-weight: bold;
}

.divider {
    margin: 20px 0;
    border-top: 1px solid #ddd;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #999;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #333;
}


@media (max-width: 600px) {
    .search-sort-container, .filters {
        flex-direction: column;
        align-items: stretch;
    }

    .search-sort-container input[type="text"], .filters input[type="date"] {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
