.slot-scheduler {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slot-scheduler h2 {
  text-align: center;
  color: #343a40;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

label {
  
  color: #495057;
  display: flex;
                    .checkbox{
                      margin-left: 10px;
                    }
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.mt-3 {
  margin-top: 16px;
}

.back-button {
  margin-left: 150%;
}

.slot-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slot-group {
  display: flex;
  flex-direction: column;
  flex: 0 0 48%;
}

.slot-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.slot-item input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.slot-item label {
  margin: 0;
}
